name: Check Doc

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened, edited]

jobs:
  Generate-doc:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install .NET 9
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '9.0.x'

      - name: Install dotnet tools
        working-directory: src
        run: dotnet tool restore

      - name: Generate the doc
        working-directory: src
        run: powershell .\GenerateDoc.ps1
