name: Publish to NuGet

on:
  push:
    tags:
      - 'v*'

    branches:
      - '*/Fix-nuget-publishing'

jobs:
  build:
    runs-on: windows-latest
    name: Update NuGet package
    steps:
      - name: Checkout repository
        uses: actions/checkout@v1

      - name: Install .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '5.0.202'

      - name: Build solution and generate NuGet package
        working-directory: src/AasCore.Aas3.Package
        run: dotnet pack -c Release -o out -p:NuspecFile=AasCore.Aas3.Package.nuspec

      - name: Push generated package
        working-directory: src/AasCore.Aas3.Package
        env:
          NUGET_AUTH_TOKEN: ${{secrets.NUGET_API_KEY}}
        run: dotnet nuget push out\*.nupkg --skip-duplicate --no-symbols true --source https://api.nuget.org/v3/index.json -k $env:NUGET_AUTH_TOKEN
